@media only screen and (max-width: 1020px) {
 
    .calander-container {
        overflow-x: scroll;
    }
    
    .table-head {
    
        padding-right: 80px !important;
        padding-left: 80px !important;
    }
  }